.navigation__item:last-child {
  margin-top: auto;
}

.navigation__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}

.navigation__icon {
  display: none;
  font-size: 26px;
}

@media (max-width: 768px) {
  .navigation__icon {
    display: block;
  }

  .link__name {
    display: none;
  }
}
