@import "../../styles/animations/BorderAnimation.module.css";

.addNoteButton__container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.addNoteButton__container > input {
  width: 180px;
  border-radius: 15px;
  border: 2px solid #6e9ecf;
  animation: border-animation 5s infinite;
  font-weight: bolder;
}

.select__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
  cursor: pointer;
}

.select__button::before,
.select__button::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #fff;
}

.select__button::before {
  transform: rotate(90deg);
}

.select__button::after {
  transform: rotate(0deg);
}

.select__colours {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 90px;
  left: 30px;
  gap: 15px;
}
