* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.App {
  display: flex;
  min-height: 100vh;
  background-color: #ffffff;
}

.header {
  flex: 0 0 70px;
}

.mainContent {
  flex: 1 1 auto;
  padding: 20px 30px;
}
