* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.App {
  display: flex;
}

.mainContent {
  width: 100vw;
  padding: 15px 30px;
}
