@import "../../styles/animations/BackgroundAnimation.module.css";

.notes_empty {
  padding: 30px;
  color: #262626;
  font-size: 34px;
  font-weight: 600;
  text-transform: uppercase;
}

.notes__items__container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 90px);
}

.notes__items {
  display: flex;
  padding: 0px 80px;
  flex-wrap: wrap;
  gap: 30px;
  min-width: 100%;
}
