@import "../../styles/animations/BackgroundAnimation.module.css";

.page {
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.page:hover,
.page__current {
  background: var(--background-gradient);
  background-size: 400% 400%;
  color: #d8e8f2;
  animation: background-animation 5s linear infinite;
}
