.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #74bef0;
  font-size: 14px;
  font-weight: bold;
  min-width: 50px;
  max-width: 75px;
  min-height: 35px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: #91caf0;
}
