@keyframes border-animation {
  0% {
    border-color: #cbe0f3;
  }
  25% {
    border-color: #b8ccdd;
  }
  50% {
    border-color: #91aabf;
  }
  75% {
    border-color: #799cbf;
  }
  100% {
    border-color: #42678b;
  }
}
