.notesPageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  min-height: 100%;
}

.notesItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 0px 10px;
  gap: 15px;
  min-width: 100%;
  min-height: calc(100% - 170px);
}

.notesErrorMessage {
  padding: 30px;
  color: #262626;
  font-size: 34px;
  font-weight: 600;
  text-transform: uppercase;
}
