.navigation {
  flex: 0 0 70px;
  justify-content: center;
  min-height: 100%;
  border-right: 2px solid #dbdbdb;
}

.navigation__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.navigation__item {
  padding: 30px 10px;
}

.navigation__item:last-child {
  margin-top: auto;
}

.navigation__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}
