.notes__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  min-height: 250px;
  width: 250px;
  white-space: pre-wrap;
  overflow-y: auto;
  overflow-x: hidden;
}

.notes__form > textarea {
  height: 100%;
  min-width: 250px;
  resize: none;
}

.whitePlaceholder::placeholder {
  color: white;
}

.note_data {
  margin-top: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px 80px 15px;
  height: 375px;
  background-color: white;
}

.control_buttons {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  width: 100%;
}

.noteForm_button {
  height: 35px;
  width: 75px;
  cursor: pointer;
  background-color: transparent;
}
