.navigation {
  position: fixed;
  height: 100%;
  width: 120px;
  border-right: 2px solid var(--primary-border-color);
}

.navigation__items {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  gap: 50px;
  height: 100%;
}

@media (max-width: 768px) {
  .navigation {
    width: 60px;
  }
}
