/* Стилі для класу login_form */
.login_form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  text-align: center;
}

/* Стилі для класу form_group */
.form_group {
  margin-top: 20px;
}

/* Стилі для посилання "зареєструйтесь" */
.forgot_password {
  margin-top: 10px;
  font-size: 14px;
}

.forgot_password a {
  color: #007bff;
}
