.note__page {
  display: flex;
  justify-content: center;
}

.note__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  max-width: 250px;
  height: 250px;
  border-radius: 10%;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
}

.note__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  gap: 10px;
}

.note__title,
.note__body {
  max-width: 220px;
}

.note__data {
  margin-top: auto;
}
