@import "../../../styles/animations/BackgroundAnimation.module.css";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35px;
  min-width: 75px;
  font-size: 14px;
  background-color: transparent;
  font-weight: bold;
  color: #2b3238;
  cursor: pointer;
  border: 1px solid var(--primary-border-color);
}

.btn:hover {
  background: var(--background-gradient);
  background-size: 400% 400%;
  color: #cbe0f3;
  animation: background-animation 5s linear infinite;
}
